################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Santander/csv_delete
/Santander/Ensemble
/Santander/Ensemble2
/Santander/Output
/Santander/__pycache__
/Santander/Dataset
