################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Santander/csv_delete
/Santander/Ensemble
/Santander/Ensemble2
/Santander/Output
/Santander/__pycache__
/Santander/Dataset
/Facebook/Dataset
/Facebook/Ensemble_test
/Facebook/__pycache__
/Facebook/.ipynb_checkpoints
/Airbnb/Dataset_sql
/Airbnb/Dataset
/Airbnb/Results
/DeepLearning/MNIST/.ipynb_checkpoints
/DeepLearning/__pycache__
/UpgradeLog.htm
/DeepLearning/TF/.ipynb_checkpoints
/DeepLearning/Titanic/.ipynb_checkpoints
/TwoSigma/Dataset
/TwoSigma/Output
