################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.ipynb_checkpoints
/.vs/DNN/v15
/MNIST/.ipynb_checkpoints
/MNIST/train.csv
/Titanic/.ipynb_checkpoints
/Titanic/train.csv
/Titanic/test.csv
/Zillow/.ipynb_checkpoints
/Zillow/train_2016_v2.csv
/Zillow/properties_2016.csv
/__pycache__
/ModelWrapper/bin/Debug
/ModelWrapper/obj/Debug
/MNIST/test.csv
/MNIST/predict.csv
/MNIST/output.csv
/MNIST/keras.h5
/Zillow/keras.h5
